.advantage__list {
  @include list();
}

.advantage__item {
  padding-top: 26px;
  padding-bottom: 25px;
  text-align: center;

  &--first {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--second {
    padding-top: 35px;
    padding-bottom: 0;
  }

  &--city {
    padding-bottom: 0;
    text-align: left;
    padding-left: 69px;
    padding-right: 20px;
    position: relative;

    &::before {
      content: "";
      width: 39px;
      height: 37px;
      position: absolute;
      top: 26px;
      left: 20px;
      margin: 0 auto;
    }

    &:nth-child(2)::before {
      background: url("../../img/index/advantage/icon-house.svg") no-repeat;
    }

    &:nth-child(3)::before {
      background: url("../../img/index/advantage/icon-gift.svg") no-repeat;
    }

    &:nth-child(4)::before {
      background: url("../../img/index/advantage/icon-burger.svg") no-repeat;
    }
  }

  &--gray-theme {
    background-color: $gray;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantage__item-container {
  padding: 55px 20px 39px 18px;
  background-color: $blue-gray;
}

.advantage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  position: relative;

  &--light {
    color: $white;
  }

  &-red-road::before {
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    width: 100%;
    left: 0;
    top: -26px;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    &-red-road::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &-red-road::before {
      display: none;
    }
  }
}

.advantage__number,
.advantage__description {
  margin: 0;
  padding: 0;
  font: inherit;
  text-transform: uppercase;
  position: relative;

  &--light {
    color: $white;
  }
}

.advantage__description {
  &-red-road::after {
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    width: 100%;
    bottom: -25px;
    left: 0;
    position: absolute;
  }

  &-br-tablet,
  &-br-desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &-red-road::after {
      display: none;
    }

    &-br-tablet {
      display: block;
    }

    &-br-mobil {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &-red-road::after {
      display: none;
    }

    &-br-desktop {
      display: block;
    }

    &-br-mobil,
    &-br-tablet {
      display: none;
    }
  }
}

.advantage__number {
  margin-bottom: 14px;
}

.advantage__image {
  height: 100%;
}

.advantage__wrapper {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    .advantage__list {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;

      .advantage__item {
        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 2;
        }

        &:nth-child(3) {
          order: 4;
        }

        &:nth-child(4) {
          order: 3;
        }

        &:nth-child(5) {
          order: 5;
        }

        &:nth-child(6) {
          order: 6;
        }

        &:nth-child(7) {
          order: 7;
        }

        &:nth-child(8) {
          order: 8;
        }
      }

      .advantage__item--first {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column: 1/-1;
      }

      .advantage__item--city {
        padding: 158px 0 59px 0;
        text-align: center;

        &:nth-child(2)::before {
          content: "";
          background: url("../../img/index/advantage/icon-house-tablet.svg")
            no-repeat;
          width: 75px;
          height: 72px;
          position: absolute;
          top: 63px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
        }

        &:nth-child(3)::before {
          content: "";
          background: url("../../img/index/advantage/icon-gift-tablet.svg")
            no-repeat;
          width: 64px;
          height: 75px;
          position: absolute;
          top: 63px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
        }

        &:nth-child(4)::before {
          content: "";
          background: url("../../img/index/advantage/icon-burger-tablet.svg")
            no-repeat;
          width: 76px;
          height: 68px;
          position: absolute;
          top: 63px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
        }
      }

      .advantage__item--second {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 1/-1;
        padding-top: 0;

        .advantage__item-container {
          order: 2;
        }
      }

      .advantage__item--gray-theme {
        padding: 42px 0 63px 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .advantage__list {
      .advantage__item {
        &--city {
          padding: 158px 0 80px 0;
        }
      }
    }
  }
}
