.advantage__item {
  padding-top: 26px;
  padding-bottom: 25px;

  &--first {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--second {
    padding-top: 35px;
    padding-bottom: 0;
  }

  &--city {
    padding-bottom: 0;
  }
}

.advantage__item-container {
  padding: 55px 20px 39px 18px;
}

.advantage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.advantage__number,
.advantage__description {
  margin: 0;
  padding: 0;
}

.advantage__number {
  margin-bottom: 14px;
}
