.button-view {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background-color: $blue-gray;
}
