.controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.controls__button {
  @include button;

  background-color: transparent;
  padding: 0;

  &--play {
    margin-left: 8%;
    margin-right: auto;
  }

  &--subtitles {
    margin-right: 12%;
  }

  &--screen {
    margin-right: 7%;
  }

  @media (min-width: $tablet-width) {
    &--play {
      margin-left: 5%;
      margin-right: 0;
    }

    &--subtitles {
      margin-left: 74%;
      margin-right: 0;
    }

    &--screen {
      margin-right: 1%;
      flex-grow: 1;
    }
  }

  @media (min-width: $desktop-width) {
    &--subtitles {
      margin-left: 77%;
      margin-right: 0;
    }
  }
}

.controls__image {
  &:hover {
    fill: $lightblack;
  }

  &:active {
    fill: $lightblack;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}
