.controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.controls__button {
  @include button;

  background-color: transparent;
  padding: 0;
  outline: 4px solid transparent;

  &:focus {
    outline-color: $focus;
  }

  &--play {
    margin-left: 8.5%;
    margin-right: auto;
  }

  &--subtitles {
    margin-right: 11%;
  }

  &--screen {
    margin-right: 8.5%;
  }

  @media (min-width: $tablet-width) {
    margin-top: -0.5%;

    &--play {
      margin-left: 5%;
      margin-right: 0;
    }

    &--subtitles {
      margin-left: 73.5%;
      margin-right: 5%;
    }
  }

  @media (min-width: $desktop-width) {
    &--play {
      margin-left: 4.2%;
    }

    &--subtitles {
      margin-left: 78%;
      margin-right: 4%;
    }
  }
}

.controls__image {
  display: block;
  outline: 4px solid transparent;

  &:hover {
    fill: $lightblack;
  }

  &:active {
    fill: $lightblack;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}
