.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  min-width: 121px;
  text-align: center;
}
