.fieldset__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 19px;
}

.fieldset__container {
  padding-bottom: 20px;

  &-personality {
    display: flex;
    align-items: center;
  }
}

.fieldset__container-label {
  display: block;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 13px;
}

.fieldset__container-input {
  @include input();

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  background: #f2f2f2;
  width: 100%;
  padding: 18px 0 14px 22px;
}

.fieldset__list {
  @include list();
}

.fieldset__control {
  display: block;
  margin-bottom: 21px;
}

.fieldset__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.fieldset__textarea {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  background: #f2f2f2;
  width: 100%;
  padding: 13px 0 29px 21px;
  border: none;
  margin: 0;
}
