.fieldset {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.fieldset__button {
  padding-top: 19px;
  padding-bottom: 14px;
  font-size: 21px;
  width: 100%;

  @include button();

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
    color: rgba($color: $white, $alpha: 0.3);
  }

  &--warning {
    width: 76%;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      width: 88.6%;
    }

    @media (min-width: $desktop-width) {
      max-width: 272px;
    }
  }

  &--close {
    font-size: 18px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
    }
  }
}

.fieldset__button-wrapper {
  padding: 20px;
  background-color: $lightgray;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
    box-sizing: border-box;
  }
}

.fieldset__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--contacts {
    padding-bottom: 15px;
    padding-top: 22px;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 71px;
    }
  }

  &--personality {
    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 55px;
      text-align: left;
    }
  }

  &--impression {
    padding-bottom: 37px;
    padding-top: 20px;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 72px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      padding-left: 80px;
    }
  }

  &--sight {
    padding-top: 16px;
    padding-bottom: 36px;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 59px;
      max-width: 308px;
    }
  }

  &--emotions {
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 55px;
    }
  }

  &--contacts,
  &--sight,
  &--emotions {
    max-width: 308px;
  }

  &--warning {
    width: 100%;
    padding: 0;
    margin: 0 0 26px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
      width: 81%;
      padding: 0;
      margin: 23px auto;
    }

    @media (min-width: $desktop-width) {
      margin: 22px auto 25px;
    }
  }

  &--success {
    margin: 38px 39px 26px 37px;
    padding: 0;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 26px;
      margin: 51px 99px 31px 97px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
    }
  }
}

.fieldset__text {
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  &--success {
    margin: 0 39px 38px 37px;

    @media (min-width: $tablet-width) {
      margin-bottom: 43px;
    }
  }
}

.fieldset__container {
  margin-bottom: 21px;
  position: relative;

  &--personality {
    display: flex;
    align-items: baseline;
    top: -1px;

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }

  &--phone {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      align-items: baseline;
      grid-template-columns: min-content 1fr;
      margin-bottom: 12px;
    }
  }

  &--email {
    position: relative;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      top: 5px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      align-items: baseline;
      grid-template-columns: max-content 1fr;
      top: 0;
    }
  }

  &--patronymic {
    top: -1px;

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.fieldset__container-box {
  display: grid;
  grid-template-columns: auto 58px;
  outline: 4px solid transparent;
  position: relative;

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 63px;
    position: relative;
    left: 5px;
  }

  &:hover {
    background: $box-icon;
  }

  &:active {
    background: transparent;
    outline: 4px solid $box-icon;
  }
}

.fieldset__container-label {
  display: block;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 13px;
  position: relative;

  &--patronymic {
    top: -1px;
  }
}

.fieldset__container-label-contacts {
  margin-bottom: 7.5px;
  margin-left: 22px;

  @media (min-width: $desktop-width) {
    margin-left: -1px;
  }
}

.fieldset__container-label-hide {
  display: inline-block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.fieldset__container-input {
  @include input();

  font-weight: 700;
  font-size: 15.5px;
  line-height: 26px;
  color: $black;
  background: $lightgray;
  width: 100%;
  padding: 18px 16px 14px 24px;
  outline: 4px solid transparent;

  &--phone {
    padding: 15px 36px 9px 22px;

    @media (min-width: $desktop-width) {
      padding-top: 18.5px;
    }
  }

  &--email {
    padding: 13px 36px 9px 22px;

    @media (min-width: $desktop-width) {
      padding-top: 18.5px;
    }
  }

  &:hover {
    background: $box-icon;
  }

  &:focus {
    outline-color: $focus;
  }

  &:active {
    background: transparent;
    outline: 4px solid $box-icon;
  }
}

.fieldset__container-icon {
  display: block;
  width: 58px;
  height: 58px;
  background-color: $box-icon;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 59px;
  }

  &--phone::after {
    content: "";
    width: 18px;
    height: 18px;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 1px;
    margin: auto;
    position: absolute;
    background: url("../../img/phone.svg") no-repeat;
  }

  &--email::after {
    content: "";
    width: 16px;
    height: 12px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    background: url("../../img/mail.svg") no-repeat;
  }
}

.fieldset__list {
  @include list();

  &--checkbox {
    width: 280px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 648px;
      margin: 0 auto;
      padding: 0 91px;
      column-gap: 54px;
      row-gap: 62px;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, auto);
      width: 960px;
      padding: 0;
      column-gap: 66px;
    }
  }
}

.fieldset__item-radio {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.fieldset__item-checkbox {
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &--red-rocks,
    &--park {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.fieldset__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.fieldset__textarea {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  background: $lightgray;
  width: 100%;
  padding: 12px 23px 16px 21px;
  border: none;
  margin: 0;
  box-sizing: border-box;
  resize: none;
  outline: 4px solid transparent;

  &:focus {
    outline-color: $focus;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 21px 11px;
  }
}

.fieldset__control {
  position: relative;
  display: block;
  padding-left: 78px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 81px;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      padding-left: 75px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 79px;
    }
  }
}

.fieldset__control-mark {
  position: absolute;
  background: $lightgray;

  &--radio {
    top: -2px;
    left: 1px;
    bottom: 0;
    margin: auto;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    outline: 4px solid transparent;

    @media (min-width: $desktop-width) {
      left: 5px;
    }

    &::before {
      content: "";
      width: 21px;
      height: 21px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute;
      border-radius: 50%;
      background: $lightblack;
      display: none;
    }
  }

  &--checkbox {
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    outline: 4px solid transparent;

    @media (min-width: $tablet-width) {
      left: 3px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
      border-radius: 0;
    }
  }

  &:hover {
    background: $box-icon;
  }

  &:hover::before {
    background: $lightblack;
  }

  &:active {
    background: $checkbox;
  }

  &:active::before {
    background: $lightblack;
    opacity: 0.3;
  }
}

.fieldset__control-radio:focus ~ .fieldset__control-mark--radio {
  outline-color: $focus;
}

.fieldset__control-radio:focus ~ .fieldset__control-label {
  color: $focus;
}

.fieldset__control-radio:focus ~ .fieldset__control-mark--radio::before {
  background-color: $focus;
}

.fieldset__control-radio[type="radio"]:checked
  + .fieldset__control-mark--radio::before {
  display: block;
}

.fieldset__image {
  position: absolute;
  top: 0;
  right: 225px;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  display: none;

  @media (min-width: $tablet-width) {
    right: 143px;
  }

  @media (min-width: $desktop-width) {
    right: 134px;

    &--park {
      right: 113px;
    }

    &--red-rocks {
      right: 142px;
    }
  }
}

.fieldset__control-checkbox[type="checkbox"]:checked + .fieldset__image {
  display: block;
}

.fieldset__control:hover .fieldset__control-checkbox {
  background: $box-icon;
}

.fieldset__control:hover .fieldset__image {
  fill: $lightblack;
}

.fieldset__control-checkbox:focus ~ .fieldset__control-mark--checkbox {
  outline-color: $focus;
}

.fieldset__control-checkbox:focus ~ .fieldset__control-label {
  color: $focus;
}

.fieldset__control-checkbox:focus ~ .fieldset__image {
  fill: $focus;
}

.fieldset__control:active .fieldset__control-checkbox {
  background: $checkbox;
}

.fieldset__control:active .fieldset__image {
  fill: $lightblack;
  opacity: 0.3;
}
