.form__wrapper {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $box-icon;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }

    &--personality {
      order: 2;
      margin-bottom: 73px;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        height: 292px;
        background-color: $line;
        position: absolute;
        top: 0;
        left: -20%;
        display: block;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 71px;

        &::before {
          content: "";
          width: 1px;
          height: 292px;
          background-color: $line;
          position: absolute;
          top: 0;
          left: -13%;
          display: block;
        }
      }
    }

    &--contacts {
      order: 3;
      grid-column: 1/-1;
      margin-bottom: 52px;
      position: relative;

      &::before {
        content: "";
        width: 18%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 13px;
        left: 0;
        display: block;
      }

      &::after {
        content: "";
        width: 18%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 13px;
        right: 0;
      }

      @media (min-width: $desktop-width) {
        &::before,
        &::after {
          width: 26%;
        }
      }
    }

    &--impression {
      order: 1;
    }

    &--sight {
      order: 4;
      grid-column: 1/-1;

      &::before {
        content: "";
        width: 18%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 25px;
        left: 0;
        display: block;
      }

      &::after {
        content: "";
        width: 18%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 25px;
        right: 0;
      }

      @media (min-width: $desktop-width) {
        &::before,
        &::after {
          width: 26%;
        }
      }
    }

    &--emotions {
      order: 5;
      grid-column: 1/-1;

      &::before {
        content: "";
        width: 18%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 13px;
        left: 0;
        display: block;
      }

      &::after {
        content: "";
        width: 18%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 13px;
        right: 0;
      }

      @media (min-width: $desktop-width) {
        &::before,
        &::after {
          width: 26%;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 109px;
  }
}

.form__fieldset {
  @include fieldset();

  &--textarea {
    margin-bottom: 51px;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 58px;
    }
  }

  &--singht {
    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 83px;
    }
  }

  &--personality {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 79px;
  }
}

.form__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.form__button {
  padding-top: 19px;
  padding-bottom: 14px;
  font-size: 21px;
  width: 100%;

  @include button();

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
    color: rgba($color: $white, $alpha: 0.3);
  }

  &--warning {
    width: 76%;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      width: 88.6%;
    }

    @media (min-width: $desktop-width) {
      max-width: 272px;
    }
  }

  &--success {
    padding: 20px;
    background-color: $lightgray;

    @media (min-width: $tablet-width) {
      padding: 44px 91px;
      box-sizing: border-box;
    }
  }
}

.form__required-fields {
  display: none;
  text-transform: uppercase;
  line-height: 26px;
  text-align: right;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form__modal-container {
  position: fixed;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;

  &--warning {
    visibility: hidden;
    top: -179px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      top: 0;
    }

    @media (min-width: $desktop-width) {
      top: 100px;
    }
  }

  &--success {
    top: 171px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: -171px;
    }
  }
}

.form__modal {
  position: relative;
  margin: auto;
  background: $white;
  box-shadow: 0 7px 15px rgb(0 1 1 / 15%);
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 83.3%;
  }

  @media (min-width: $desktop-width) {
    max-width: 640px;
  }

  &--warning {
    padding: 40px 42px 35px 41px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 52.1%;
      padding: 45px 47px 49px 46px;
    }

    @media (min-width: $desktop-width) {
      max-width: 400px;
    }
  }

  &--success {
    padding: 38px 39px 0 37px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      min-width: 640px;
      padding: 55px 99px 0 97px;
      margin: 0 auto;
    }
  }
}
