.form__wrapper {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $box-icon;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }

    &--personality {
      order: 2;
      margin-bottom: 72px;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        height: 292px;
        background-color: $line;
        position: absolute;
        top: 0;
        left: -19.7%;
        display: block;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 70px;

        &::before {
          content: "";
          width: 1px;
          height: 292px;
          background-color: $line;
          position: absolute;
          top: 0;
          left: -18.5%;
          display: block;
        }
      }
    }

    &--contacts {
      order: 3;
      grid-column: 1/-1;
      margin-bottom: 51px;
      position: relative;

      @media (min-width: $tablet-width) {
        margin-bottom: 51px;
      }

      &::before {
        content: "";
        width: 18.8%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
      }

      &::after {
        content: "";
        width: 18.8%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 9px;
        right: 0;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 40px;

        &::before,
        &::after {
          width: 29.2%;
        }
      }
    }

    &--impression {
      order: 1;
    }

    &--sight {
      order: 4;
      grid-column: 1/-1;

      &::before {
        content: "";
        width: 18.8%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 25px;
        left: 0;
        display: block;
      }

      &::after {
        content: "";
        width: 18.8%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 25px;
        right: 0;
      }

      @media (min-width: $desktop-width) {
        &::before,
        &::after {
          width: 29.2%;
        }
      }
    }

    &--emotions {
      order: 5;
      grid-column: 1/-1;

      &::before {
        content: "";
        width: 18.8%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
      }

      &::after {
        content: "";
        width: 18.8%;
        height: 1px;
        background-color: $line;
        position: absolute;
        top: 9px;
        right: 0;
      }

      @media (min-width: $desktop-width) {
        &::before,
        &::after {
          width: 29.2%;
        }
      }
    }
  }
}

.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 105px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 149px;
  }
}

.form__fieldset {
  @include fieldset();

  &--textarea {
    margin-bottom: 46px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 53px;
    }
  }

  &--singht {
    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 83px;
    }
  }

  &--personality {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-left: 5.5px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, auto);
    column-gap: 79px;
    position: relative;

    @media (min-width: $desktop-width) {
      top: -1px;
    }
  }
}

.form__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.form__button {
  padding-top: 19px;
  padding-bottom: 14px;
  font-size: 21px;
  width: 100%;

  @include button();

  &-text {
    position: relative;

    @media (min-width: $tablet-width) {
      left: -6px;
      display: block;
    }

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
    color: rgba($color: $white, $alpha: 0.3);
  }
}

.form__required-fields {
  display: none;
  text-transform: uppercase;
  line-height: 26px;
  text-align: right;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 19px;
  }
}
