.intro__wrapper {
  margin-bottom: 32px;
  display: grid;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.intro__image {
  display: flex;
  min-height: 389px;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 518px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-height: 518px;
    width: 100%;
  }
}
// .intro__container {
//   background: url("../../img/index/intro.png") no-repeat top center;
//   background-size: cover;
//   min-height: 389px;
// }
