.intro__wrapper {
  margin-bottom: 32px;
  display: grid;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }

  &--page-catalog {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 96px;
    }
  }

  &--page-form {
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 113px;
    }
  }
}

.intro__image {
  display: flex;
  min-height: 389px;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 518px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-height: 518px;
    width: 100%;
  }

  &--page-catalog {
    min-height: 214px;
    width: 100%;
  }
}
