.intro__wrapper {
  margin-bottom: 32px;
  display: grid;
  height: 389px;
  background-color: #3d4952;
  background-image: url("../../img/intro-triangle.svg"),
    url("../../img/index/back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/intro-triangle.svg"),
      url("../../img/index/back-mobile@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    height: 518px;
    background-image: url("../../img/intro-triangle.svg"),
      url("../../img/index/back-tablet.jpg");
    background-size: 156% 56px, 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      background: url("../../img/intro-triangle.svg"),
        url("../../img/index/back-tablet@2x.jpg");
      background-size: 1200px 57px, cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    background-image: url("../../img/intro-triangle.svg"),
      url("../../img/index/back-desktop.jpg");
    background-size: 1200px 57px, cover;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      background: url("../../img/intro-triangle.svg"),
        url("../../img/index/back-desktop@2x.jpg");
      background-size: 1200px 57px, cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  &--page-catalog,
  &--page-form {
    margin-bottom: 32px;
    height: 158px;
    background-image: url("../../img/intro-triangle.svg"),
      url("../../img/catalog/back-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangle.svg"),
        url("../../img/catalog/back-mobile@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
      height: 290px;
      background-image: url("../../img/intro-triangle.svg"),
        url("../../img/catalog/back-tablet.jpg");
      background-size: 1200px 57px, cover;
      background-repeat: no-repeat;
      background-position: bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/intro-triangle.svg"),
          url("../../img/catalog/back-tablet@2x.jpg");
        background-size: 1200px 57px, cover;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 100px;
      height: 301px;
      background-image: url("../../img/intro-triangle.svg"),
        url("../../img/catalog/back-desktop.jpg");
      background-size: 1200px 57px, cover;
      background-repeat: no-repeat;
      background-position: bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/intro-triangle.svg"),
          url("../../img/catalog/back-desktop@2x.jpg");
        background-size: 1200px 57px, cover;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
  }

  &--page-form {
    margin-bottom: 36px;
    height: 158px;

    @media (min-width: $tablet-width) {
      margin-bottom: 61px;
      height: 291px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 113px;
      height: 301px;
    }
  }
}

.intro__slogan {
  margin: auto;
  position: relative;
  top: 3px;

  @media (min-width: $tablet-width) {
    min-width: 461px;
    margin-top: 74px;
  }

  @media (min-width: $desktop-width) {
    min-width: 460px;
  }

  &--page-catalog {
    top: -8px;

    @media (min-width: $tablet-width) {
      top: 20px;
      left: 1.5px;
    }

    @media (min-width: $desktop-width) {
      top: 28px;
      left: -2.5px;
    }
  }
}
