.modal {
  position: fixed;
  display: flex;
  left: 0;
  width: 100%;
  background: transparent;

  &--warning {
    visibility: hidden;
    top: 110px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      top: 242px;
    }

    @media (min-width: $desktop-width) {
      top: 357px;
    }
  }

  &--success {
    top: 188px;
    z-index: 1;
    visibility: hidden;

    @media (min-width: $tablet-width) {
      top: 90px;
    }

    @media (min-width: $desktop-width) {
      top: 93px;
    }
  }
}

.modal__content {
  position: relative;
  margin: auto;
  background: $white;
  box-shadow: 0 7px 15px rgb(0 1 1 / 15%);
  width: 100%;

  &--warning {
    padding: 40px 42px 35px 41px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 52.1%;
      padding: 34px 47px 48px 46px;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      max-width: 400px;
    }
  }

  &--success {
    padding: 0;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      width: 83.3%;
    }

    @media (min-width: $desktop-width) {
      max-width: 640px;
    }
  }
}
