.page-footer__hashtag {
  @include link();

  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin-top: 29px;
  margin-bottom: 34px;
}

.page-footer__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.page-footer__social {
  @include list();

  &-link {
    @include link();
  }

  margin-bottom: 40px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;

  &-text {
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;
    min-width: 121px;
    text-align: center;
  }

  &-link {
    @include link();
  }
}
