.page-nav__toggle {
  @include button();

  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #ee0606;
  box-shadow: 0 10px 0 0 #ee0606, 0 20px 0 0 #ee0606;
  // #81b3d2
}

.page-nav--opened .page-nav__toggle {
  top: 0;
  left: auto;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 17px;
    width: 28px;
    height: 4px;
    background-color: $white;
    z-index: 1;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.page-nav__site-list {
  background-color: $blue-gray;
  position: absolute;
  top: 0;
  width: 100%;

  @include list();
}

.page-nav__site-list-item:last-child {
  margin-bottom: 0;
}

.page-nav__site-list-link {
  @include link();

  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 5px;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

  &--academy {
    border: none;
    display: block;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 87%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
}

@media (min-width: $mobile-width-only) {
  .page-nav--closed .page-nav__site-list {
    display: none;
  }

  .page-nav--nojs .page-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-nav__wrapper {
    display: flex;
    border: none;

    .page-nav__site-list-link {
      border: none;

      &--academy {
        background: none;
      }
    }
  }

  .page-nav__site-list {
    background-color: $white;
  }

  .page-nav__site-list-item {
    min-width: 153px;
    position: relative;
  }

  .page-nav__site-list-item:nth-child(2) {
    flex-grow: 1;
    margin-right: 70px;
  }

  .page-nav__site-list-item:nth-child(3) {
    flex-grow: 1;
    margin-left: 70px;
  }

  .page-nav__site-list-link {
    color: $black;
  }

  .page-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-nav__wrapper {
    margin: 0 auto;
  }

  .page-nav__toggle {
    display: none;
  }
}
