.page-header {
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-height: 86px;
}

.page-header__logo-image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 187px;
    position: relative;
    z-index: 1;
  }
}
