.page {
  height: 100%;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $lightblack;

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $lightgray;
  }
}

.page__body-container {
  @media (min-width: $desktop-width) {
    background-color: $white;
    box-shadow: 0 5px 15px rgb(0 1 1 / 20%);
  }
}
