.page {
  height: 100%;
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $lightblack;

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
