.page-catalog {
  flex-grow: 1;
  margin-top: -28px;
}

.page-catalog__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.page-catalog__promo-presentation {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}
