.page-header {
  display: flex;
  flex-direction: column;
  max-height: 86px;
}

.page-header__logo {
  margin: 0 auto;
  cursor: pointer;
  outline: 4px solid transparent;
  z-index: 1;

  &:focus {
    outline-color: $focus;
    position: relative;
    z-index: 2;
  }
}

.page-header__logo-image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 187px;
    position: relative;
    z-index: 1;
  }
}
