.page-nav {
  position: relative;
  top: -84px;
  width: auto;
  min-height: 56px;
  background-color: $white;

  @media (min-width: $desktop-width) {
    top: -97px;
  }
}

.page-nav__toggle {
  @include button();

  position: absolute;
  top: 6px;
  right: 10px;
  width: 43px;
  height: 42px;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;
  outline: 4px solid transparent;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline-color: $focus;
    padding: 0;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 4px;
  background-color: $blue-gray;
  box-shadow: 0 9px 0 0 #81b3d2, 0 19px 0 0 #81b3d2;
}

.page-nav--opened .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 7px;
    width: 28px;
    height: 4px;
    background-color: $white;
    z-index: 1;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.page-nav__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.page-nav__site-list {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $blue-gray;

  @include list();

  @media (min-width: $tablet-width) {
    z-index: 0;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: space-between;
  }
}

.page-nav__site-list-link {
  @include link();

  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 5px;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  background: $blue-gray;

  &--academy {
    border: none;
    background: $blue-gray
      linear-gradient(180deg, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.2) 100%);
  }

  &:hover {
    background: $hover;
  }

  &:focus {
    outline: 4px solid $focus;
  }

  &:active {
    background: $active;
    color: rgba($color: $white, $alpha: 0.3);
  }

  @media (min-width: $mobile-width-only) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $tablet-width) {
    color: $black;
    background: none;
    font-size: inherit;
    line-height: 26px;
    padding: 15px;
    border: none;
    outline: 4px solid transparent;

    &--academy {
      background: none;
    }

    &--current {
      color: $blue-gray;
    }

    &:hover {
      color: $blue-gray;
      background: none;
    }

    &:focus {
      outline-color: $focus;
    }

    &:active {
      color: $black;
      opacity: 0.3;
      background: none;
    }
  }
}

.page-nav__site-list-item {
  min-width: 153px;
  position: relative;

  &--hidden {
    visibility: hidden;

    max-width: none;
  }

  &--form {
    @media (min-width: $tablet-width) {
      left: 3px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  &--photo {
    @media (min-width: $tablet-width) {
      left: 1px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  &--academy {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    max-width: 153px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 239px;
  }
}

.page-nav--nojs .page-nav__toggle {
  display: none;
}

.page-nav--nojs .page-nav__wrapper {
  position: static;
  min-height: 0;
}

@media (min-width: $mobile-width-only) {
  .page-nav--closed .page-nav__site-list-item {
    display: none;
  }
}

.page-nav--closed .page-nav__site-list-item {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-nav--nojs .page-nav__site-list-item {
  display: block;
}
