.page-main {
  flex-grow: 1;
}

.page-main__intro {
  margin-bottom: 32px;
}

.page-main__promo {
  margin-bottom: 11px;
}

.page-main__advantage {
  margin-bottom: 33px;
}

.page-main__search {
  margin-bottom: 10px;
}
