.page-main {
  flex-grow: 1;
}

.page-main__intro--view {
  margin-bottom: 32px;
}

.page-main__promo--view {
  margin: 0 auto;
}

.page-main__search--view {
  margin: 0 auto;
  margin-bottom: 39px;
}
