.page-catalog {
  flex-grow: 1;
  margin-top: -29px;

  @media (min-width: $desktop-width) {
    margin-top: -30px;
  }
}

.page-catalog__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.page-catalog__promo-presentation {
  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}
