.presentation {
  margin-bottom: 115px;
  background: url("../../img/gallery/video-fragment.jpg") no-repeat;
  // а должно быть 76px
  background-size: cover;
  height: 201px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 500px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
}

.presentation__range-scale {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.presentation__controls {
  width: 87%;
  background-color: rgba($color: $lightgray, $alpha: 0.6);
  height: 66px;
  position: absolute;
  bottom: -66px;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    width: 84%;
    height: 88px;
    bottom: 0;
    background-color: transparent;
  }
}
