.presentation {
  margin-bottom: 115px;
  background: url("../../img/catalog/video-mobile.jpg") no-repeat;
  min-height: 201px;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: url("../../img/catalog/video-mobile@2x.jpg") no-repeat;
    min-height: 201px;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    min-height: 500px;
    margin-bottom: 40px;
    background: url("../../img/catalog/video-tablet.jpg") no-repeat center;
    background-size: 84.5%;

    @media (min-resolution: 2dppx) {
      background: url("../../img/catalog/video-tablet@2x.jpg") no-repeat center;
      background-size: 84.5%;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 85px;
    background: url("../../img/catalog/video-desktop.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../../img/catalog/video-desktop@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}

.presentation__range-scale {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.presentation__controls {
  width: 87%;
  background-color: rgba($color: $lightgray, $alpha: 0.6);
  height: 66px;
  position: absolute;
  bottom: -66px;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    width: 84%;
    height: 93px;
    bottom: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
