.promo {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.promo__wrapper {
  text-align: center;
  margin: 0 auto 12px;
  max-width: 272px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    max-width: 484px;
    margin: 0 auto;
    margin-bottom: 41px;
  }

  &--page-catalog {
    max-width: 290px;

    @media (min-width: $tablet-width) {
      max-width: 446px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      max-width: 446px;
      margin: 0 auto;
    }
  }

  &--promo-presentation {
    margin: 32px auto 24px auto;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      max-width: 463px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      max-width: 463px;
    }
  }

  &--page-form {
    margin: 0 auto;
    max-width: 306px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
      max-width: 435px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 49px;
    }
  }
}

.promo__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  left: -1.5px;

  &--page-form {
    left: 0;
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 32px;

    &--page-catalog,
    &--page-form {
      font-size: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    left: -1px;
  }

  &--page-catalog {
    margin-bottom: 28px;
    left: 2px;

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
      left: 0;
    }
  }
}

.promo__sub-description {
  line-height: 26px;
  text-transform: uppercase;
  color: $lightblack;
  margin: 0;
  position: relative;

  &--page-catalog {
    padding-bottom: 10px;
    line-height: 24px;
    left: 1px;

    @media (min-width: $tablet-width) {
      padding-bottom: 19px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 16px;
    }
  }

  &--page-form {
    padding-bottom: 16px;
    left: 0;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      padding-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 8px;
      line-height: 25px;
    }
  }
}
