.promo__wrapper {
  text-align: center;
  margin: 0 20px 11px 20px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    max-width: 484px;
    margin: 0 auto;
    margin-bottom: 41px;
  }
}

.promo__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 32px;
}

.promo__sub-description {
  line-height: 26px;
  text-transform: uppercase;
  color: $lightblack;
  margin: 0;
}
