.search {
  text-align: center;
}

.search__title {
  margin: 0;
  margin-bottom: 21px;
}

.search__description {
  margin: 0 auto;
  margin-bottom: 27px;
}

.search__button {
  padding: 15px 0;
  margin-bottom: 49px;
}
