.search__wrapper {
  padding: 0 22px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin: 0 auto;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    font-size: 30px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    max-width: 435px;
    margin-bottom: 34px;
  }
}

.search__description {
  line-height: 24px;
  text-transform: uppercase;
  color: $lightblack;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    max-width: 435px;
    margin-bottom: 44px;
  }
}

.search__button {
  width: 100%;
  font-size: 21px;
  padding: 15px 0;
  margin: 0 auto;
  margin-bottom: 49px;
  cursor: pointer;
  outline: 4px solid transparent;

  @include button();
  @include link();

  &--disabled {
    background-color: $box-icon;
  }

  &:hover {
    background: $hover;
  }

  &:focus {
    outline-color: $focus;
  }

  &:active {
    background: $active;
    color: rgba($color: $white, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    max-width: 458px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    max-width: 458px;
    margin-bottom: 67px;
  }
}
