.social__link {
  display: block;
}

.social__link--hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 34px;
}
