// Colors
$white: #ffffff;
$lightblack: #333333;
$black: #000000;
$blue-gray: #81b3d2;
$gray: #eeeeee;
$box-icon: #e5e5e5;
$lightgray: #f2f2f2;
$checkbox: #d5d5d5;
$line: #dbdbdb;
$hover: #669ec0;
$active: #5496bd;

// Viewports

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 320px;

@mixin list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin link {
  text-decoration: none;
}

@mixin fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin input {
  border: none;
  margin: 0;
}

@mixin button {
  display: block;
  border: none;
  // outline: none;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  background-color: $blue-gray;
}
